.about-container {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.profile-photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.profile-text {
    max-width: 500px;
    text-align: left;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
  
.skills .progress .skill {
    color: var(--heading-color);
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: var(--heading-font);
  }
  
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
  
.skills .progress-bar-wrap {
    background: color-mix(in srgb, var(--default-color), transparent 90%);
    height: 10px;
}
  
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: var(--accent-color);
  }
  